<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LTC_Workshop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA42B53E1DCA7F0500A504E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA42B5541DCA7F0600A504E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA42B55F1DCA7F0600A504E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
